<form action="/posts" method="post">

  <p>
    <label for="new_name"></label>
    Title:
    <input id="new_name" type="text" name="posts[name]" value=""/>
  </p>
  <p>
    <label for="new_content"></label>
    Content:
    <input id="new_content" type="text" name="posts[content]"/><br>

  </p>
    <input type="submit" value="Submit">
</form>
