<form method=POST action="/posts">
  <p>Post Name: <input type="text" name="name" id="name"></input></p>
  <p>Post Content: <input type="text" name="content" id="content"></input></p>
  <button type="submit" value="submit">Submit</button>
</form>
