<form method="POST" action="/posts">
  <label for="Post Name">Post Name:</label>
 <input id="Post Name" type="text" name="name">
 <label for="Post Content">Post Content:</label>
 <input id="Post Content" type="text" name="content">
<input type="submit" value="submit">
</form>
