<p><%= @post.name %></p>
<p><%= @post.content %></p>
<form action="/posts/<%= @post.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button id="delete" type="submit" >Delete Post</button>
</form>
