<!DOCTYPE html>
<html>
<head>
  <h1>No One Expects The Spanish Inquisition</h1>
</head>
<body>
  <p><%= @post.name %></p>
  <p><%= @post.content %></p>
  <form method="post" action="/posts/<%= @post.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <button id="delete" type="submit">Delete Post</button>
  </form>
</body>
</html>
